<?xml version="1.0"?>
<config>
    <modules>
        <Zota_BetterContactForm>
            <version>1.1.0.0</version>
        </Zota_BetterContactForm>
    </modules>

    <global>
        <blocks>
            <bettercontactform>
                <class>Zota_BetterContactForm_Block</class>
            </bettercontactform>
        </blocks>
        <helpers>
            <bettercontactform>
                <class>Zota_BetterContactForm_Helper</class>
            </bettercontactform>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Zota_BetterContactForm>
                    <files>
                        <default>Zota_BetterContactForm.csv</default>
                    </files>
                </Zota_BetterContactForm>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Zota_BetterContactForm>
                    <files>
                        <default>Zota_BetterContactForm.csv</default>
                    </files>
                </Zota_BetterContactForm>
            </modules>
        </translate>
        <layout>
            <updates>
                <bettercontactform>
                    <file>bettercontactform.xml</file>
                </bettercontactform>
            </updates>
        </layout>
    </frontend>
</config>
